<div class="col-md-12 wrapper" *ngFor=" let asset of assets" >
  <p>Активы</p>
  <div class="col-md-2 column">
    <p>Всего средств</p>
    <p *ngFor="let key of asset.TOTAL | keys"> {{ asset.TOTAL[key] | currency: key }}</p>
  </div>
  <div class="col-md-2 column">
    <p>Торговые счета</p>
    <p *ngFor="let key of asset.ACCOUNT | keys"> {{ asset.ACCOUNT[key] | currency: key }}</p>
  </div>
  <div class="col-md-2 column">
    <p>Сейф</p>
    <p *ngFor="let key of asset.SAFE | keys"> {{ asset.SAFE[key] | currency: key }}</p>
  </div>
  <div class="col-md-2 column">
    <p>Приведи друга</p>
    <p *ngFor="let key of asset.FRIEND | keys"> {{ asset.FRIEND[key] | currency: key }}</p>
  </div>
  <div class="col-md-2 column">
    <p>Копилка</p>
    <p *ngFor="let key of asset.MONEY_BOX | keys"> {{ asset.MONEY_BOX[key] | currency: key }}</p>
    <p>$ {{ asset.MONEY_BOX.USD }}</p>
  </div>
  <div class="col-md-2 column">
    <p>Партнер</p>
    <p *ngFor="let key of asset.PARTNER | keys"> {{ asset.PARTNER[key] | currency: key }}</p>
  </div>
</div>
